<div class="row">
  <div class="col-sm">
    <img src="..." class="img-fluid" alt="Responsive image">
  </div>
  <div class="col-sm">
    <div class="row">
      <div class="col-sm">
        Name:
      </div>
      <div class="col-sm">
        [NAME]
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        DoB:
      </div>
      <div class="col-sm">
        [DOB]
      </div>
      <div class="col-sm">
        Gender:
      </div>
      <div class="col-sm">
        [GENDER]
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Address:
      </div>
      <div class="col-sm">
        <address>[ADDRESS]</address>
      </div>
    </div>
  </div>
</div>
<div class="row">
  [OUTSTANDING CONVICTIONS]
</div>