<div class="row">
  <div class="col-sm">
    <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->
    <fa name="user" size="20"></fa>
  </div>
  <div class="col-sm">
    <div class="row">
      <div class="col-sm">
        Name:
      </div>
      <div class="col-sm">
        [NAME]
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        DoB:
      </div>
      <div class="col-sm">
        [DOB]
      </div>
      <div class="col-sm">
        Gender:
      </div>
      <div class="col-sm">
        [GENDER]
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Address:
      </div>
      <div class="col-sm">
        <address>[ADDRESS]</address>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <h5>Outstanding Convictions</h5>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>