<div class="row">
  <div class="col-sm">
    <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->
    <fa name="user" size="5x"></fa>
  </div>
  <div class="col-sm">
    <div class="border">
      <div class="row">
        <div class="col-sm">
          Name:
        </div>
        <div class="col-sm">
          [NAME]
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          DoB:
        </div>
        <div class="col-sm">
          [DOB]
        </div>
        <div class="col-sm">
          Gender:
        </div>
        <div class="col-sm">
          [GENDER]
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          Address:
        </div>
        <div class="col-sm">
          <address>[ADDRESS]</address>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        <h5>Outstanding Convictions</h5>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Did something bad</td>
          <td>Yesterday</td>
          <td>[More Details]</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Murder</td>
          <td>Three moonths ago</td>
          <td>[More Details]</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Found with gun</td>
          <td>5 years ago</td>
          <td>[More Details]</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>